<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Practica3PW</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>DRIVER</param-name>
  	<param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  
  <context-param>
  	<param-name>URL</param-name>
  	<param-value>jdbc:mysql://oraclepr.uco.es:3306/i72hisan?</param-value>
  </context-param>
  
  <context-param>
  	<param-name>USUARIO</param-name>
  	<param-value>i72hisan</param-value>
  </context-param>
  
  <context-param>
  	<param-name>PASSWORD</param-name>
  	<param-value>BD1234</param-value>
  </context-param>
  
  <context-param>
  	<param-name>SQLproperties</param-name>
  	<param-value>/WEB-INF/sql.properties</param-value>
  </context-param>
</web-app>